@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
 /* import from gg font */

*{
    box-sizing: border-box;
    font-family: Montserrat;
}

body{
    background: #f2f5f2af;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.container{
    margin: 30px auto;
    width: 500px ;
}
.horizontal-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    text-align: center;
}
.horizontal-menu li{
    display: in-line block;

}
.horizontal-menu a{
    color: white;
}